.header,
.footer {
  width: 100vw;
  height: 10vh;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;

  .children {
    padding: 50px;
    width: 100%;
    overflow-y: auto;
  }
}
